#menuCategory {
    position: relative;
    z-index: 10;
    cursor: pointer;
    .icon {
        position: absolute;
        top: 10%;
        left: 20%;
        height: 14%;
        width: 14%;
    }

    .menu-title {
        position: absolute;
        top: 13%;
        left: 38%;
        color: #f4f4f4;
        font-style: normal;
        font-weight: bold;
        font-size: 2vw;
    }
}
//Categories
#menuAuthor,
#menuType,
#menuYearRelease,
#menuStatus {
    position: relative;
    cursor: pointer;
    .icon {
        position: absolute;
        top: 10%;
        left: 20%;
        height: 14%;
        width: 14%;
        pointer-events: none;
    }

    .menu-title {
        position: absolute;
        top: 13%;
        left: 38%;
        color: #f4f4f4;
        font-style: normal;
        font-weight: bold;
        font-size: 1.9vw;
        pointer-events: none;
    }
}

//Closed
// #menuStatus {
//     transform: translateY(-40%);
// }

// #menuYearRelease {
//     transform: translateY(-80%);
// }

// #menuType {
//     transform: translateY(-120%);
// }

// #menuAuthor {
//     transform: translateY(-160%);
// }

//Open Categories
#menuStatus {
    transform: translateY(-90%);
}
#menuYearRelease {
    transform: translateY(-130%);
}

#menuType {
    transform: translateY(-170%);
}

#menuAuthor {
    transform: translateY(-210%);
}

//SubMenu
.subMenuContainer {
    .subMenu {
        @include flex(center, flex-start, column);
        width: 100%;
        background: #5b596a;
        z-index: 2;
        margin-bottom: 1px;
        padding: 4% 4% 4% 20%;
        transform: translateY(-100%);
        .menu-title {
            color: #f4f4f4;
            font-size: 1.5vw;
            font-weight: bold;
        }
    }

    .subMenu:last-child {
        transform: translateY(-50%);
        padding: 4% 4% 20% 20%;
    }
}
