
.menu-comic-list,
.menu-category {
    position: relative;
    z-index: 10;
    width: calc(100% + 1px);
    transform: translate(-1px, -1px);
    pointer-events: none;

    .menu-list-background {
        fill: #424151;
        transition: fill 0.2s ease;
    }

    .icon {
        position: absolute;
        top: 10%;
        left: 20%;
    }

    .list-icon,
    .category-icon {
        position: absolute;
        height: 3vw;
        width: 3vw;
    }

    .menu-title {
        position: absolute;
        top: 16%;
        left: 39%;
        color: #f4f4f4;
        font-style: normal;
        font-weight: bold;
        font-size: 1.7vw;
    }

    &:hover {
        .menu-list-background {
            fill: rgba(91, 89, 106, 0.5);
        }
    }
}

#menuComicList {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40%;
    pointer-events: initial;
    cursor: pointer;
    z-index: 10;
}

.menu-category {
    transform: translateY(-42%);
    width: 100%;
}

//SubMenu
.subMenuContainer {
    .subMenu {
        @include flex(center, flex-start, column);
        width: 100%;
        background: #5b596a;
        z-index: 2;
        margin-bottom: 1px;
        padding: 4% 4% 4% 20%;
        transform: translateY(-205%);
        overflow: hidden;
        cursor: pointer;
        transition: background 0.2s ease;
        .menu-title {
            color: #f4f4f4;
            font-size: 1.3vw;
            font-weight: bold;
            white-space: nowrap;
            pointer-events: none;
        }

        &:hover {
            background: rgba(91, 89, 106, 0.5);
        }
    }
}

