* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  background: #000000;
}

.menuCategory {
  position: relative;
  z-index: 10;
  pointer-events: none;
}

.menuCategory .icon {
  position: absolute;
  top: 10%;
  left: 20%;
  height: 14%;
  width: 14%;
}

.menuCategory .menu-title {
  position: absolute;
  top: 13%;
  left: 38%;
  color: #f4f4f4;
  font-style: normal;
  font-weight: bold;
  font-size: 2vw;
}

.menuCategory #menuCategory {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  z-index: 3;
}

#menuAuthor,
#menuType,
#menuYearRelease,
#menuStatus {
  position: relative;
  cursor: pointer;
}

#menuAuthor .icon,
#menuType .icon,
#menuYearRelease .icon,
#menuStatus .icon {
  position: absolute;
  top: 10%;
  left: 20%;
  height: 14%;
  width: 14%;
  pointer-events: none;
}

#menuAuthor .menu-title,
#menuType .menu-title,
#menuYearRelease .menu-title,
#menuStatus .menu-title {
  position: absolute;
  top: 13%;
  left: 38%;
  color: #f4f4f4;
  font-style: normal;
  font-weight: bold;
  font-size: 1.9vw;
  pointer-events: none;
}

.subMenuContainer .subMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: #5b596a;
  z-index: 2;
  margin-bottom: 1px;
  padding: 4% 4% 4% 20%;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  overflow: hidden;
  cursor: pointer;
}

.subMenuContainer .subMenu .menu-title {
  color: #f4f4f4;
  font-size: 1.3vw;
  font-weight: bold;
  white-space: nowrap;
  pointer-events: none;
}

.main {
  padding-left: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main #searchContainer {
  -webkit-transform: translateX(-3%);
          transform: translateX(-3%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5% 0 0 0;
  background: #484755;
  width: 65%;
  padding: 0.2%;
  border-radius: 50px;
}

.main #searchContainer #searchIcon {
  height: 7%;
  width: 7%;
  margin: 1% 0 0 3%;
  -webkit-transform: translateY(-570%);
          transform: translateY(-570%);
}

.main #search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 2%;
  outline: none;
  border: none;
  background: none;
  color: #f4f4f4;
  font-size: 1.5vw;
}

.main .header {
  position: relative;
  color: #f4f4f4;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.3vw;
  margin: 8% 0 0 0;
}

.main .header .line-left {
  position: absolute;
  top: -20%;
  left: -0.8%;
  background: #f4f4f4;
  height: 170%;
  width: 0.1%;
}

.main .header .line-bottom {
  position: absolute;
  top: 105%;
  left: -4%;
  height: 2%;
  background: #f4f4f4;
  width: 52%;
}

.main .book-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 4%;
}

.main .book-titles #titleCard {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16vw;
          flex: 0 1 16vw;
  margin: 0 2% 5% 0;
}

.main .book-titles #titleCard .image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  height: 23vw;
  border-radius: 10%/6%;
}

.main .book-titles #titleCard .title {
  text-align: center;
  margin: 6% 0;
  color: #f4f4f4;
  font-size: 1.3vw;
  font-weight: bold;
  white-space: nowrap;
  width: 16vw;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main .book-titles #titleCard .category {
  margin: 0 2%;
  color: #e8e8e8;
  font-size: 1.1vw;
  width: 15.2vw;
  text-overflow: ellipsis;
  overflow: hidden;
}

.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: -1;
}

.background .part1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../../img/Flash.png") no-repeat;
  background-size: 100%;
}

.background .part2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../../img/Deadpool.png") no-repeat;
  background-size: 100%;
}

.background .part3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../../img/Superman.png") no-repeat;
  background-size: 100%;
}

.background .part4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../../img/Iron-Man.png") no-repeat;
  background-size: 100%;
}

.background .part5 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../../img/Ghost-Rider.png") no-repeat;
  background-size: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: content;
      -ms-flex-align: content;
          align-items: content;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  margin: 39px 28px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  min-height: 100%;
  background: rgba(32, 33, 54, 0.9);
  border-radius: 3.5vw;
  overflow: hidden;
}

.container .left-panel {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: rgba(26, 25, 43, 0.9);
}

.container .main {
  -webkit-box-flex: 3.3;
      -ms-flex: 3.3;
          flex: 3.3;
}
/*# sourceMappingURL=style.css.map */