
@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@import "_global.scss";
@import "_navigation";
@import "_pages";

//Background
.background {
    @include flex(flex-start, stretch, row);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index: -1;
    .part1 {
        flex: 1;
        background: url("../../img/Flash.png") no-repeat;
        background-size: 100%;
    }
    .part2 {
        flex: 1;
        background: url("../../img/Deadpool.png") no-repeat;
        background-size: 100%;
    }
    .part3 {
        flex: 1;
        background: url("../../img/Superman.png") no-repeat;
        background-size: 100%;
    }
    .part4 {
        flex: 1;
        background: url("../../img/Iron-Man.png") no-repeat;
        background-size: 100%;
    }
    .part5 {
        flex: 1;
        background: url("../../img/Ghost-Rider.png") no-repeat;
        background-size: 100%;
    }
}

.container {
    @include flex(flex-start, center, column);
    position: absolute;
    top: 39px;
    left: 10px;
    right: 10px;
    margin-bottom: 39px;
    z-index: 1;
    min-height: calc(100vh - 39px * 2);
    background: rgba(32, 33, 54, 0.9);
    border-radius: 3.5vw;
    overflow: hidden;

    .book-navigation {
        @include flex(center, center, row);
    }

    .book {
        @include flex(flex-start, stretch, row);

        .left-page-container {
            flex: 1;
        }

        .right-page-container {
            flex: 1;
        }
    }
}

