* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  background: #000000;
}

.book-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #555365;
  border-radius: 20px;
  margin-top: 1.5%;
  padding: 0.5%;
}

.book-navigation .first-page,
.book-navigation .before,
.book-navigation .next,
.book-navigation .last-page {
  margin-top: 0.8%;
  margin-right: 2vw;
  cursor: pointer;
}

.book-navigation .first-page {
  margin-left: 5%;
  width: 3vw;
}

.book-navigation .before {
  width: 2vw;
}

.book-navigation .next {
  width: 2vw;
}

.book-navigation .last-page {
  width: 3vw;
}

.book-navigation .chapter-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 1vw 0 3vw;
  position: relative;
}

.book-navigation .chapter-selector select {
  width: 25vw;
  font-size: 1.3vw;
  background: #404050;
  overflow: none;
  border: none;
  border-radius: 4%/40%;
  padding: 2% 5%;
  color: #f4f4f4;
  cursor: pointer;
  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.book-navigation .chapter-selector .icon {
  position: absolute;
  top: 28%;
  right: 4%;
  width: 1.5vw;
  pointer-events: none;
}

.book {
  height: 100%;
  width: 100%;
  margin: 1.5% 0 3% 0;
}

.book .left-page {
  margin-left: 3%;
}

.book .left-page div {
  float: right;
  background: #ffffff;
  height: 100%;
  width: 80%;
  background: url(../../img/test-image-page-left.png) no-repeat;
  background-size: 100% 100%;
  -webkit-box-shadow: -4px 4px 5px black, inset -20px 0 90px rgba(0, 0, 0, 0.5);
          box-shadow: -4px 4px 5px black, inset -20px 0 90px rgba(0, 0, 0, 0.5);
}

.book .right-page {
  margin-right: 3%;
}

.book .right-page div {
  background: #ffffff;
  height: 100%;
  width: 80%;
  background: url(../../img/test-image-page-right.png) no-repeat;
  background-size: 100% 100%;
  -webkit-box-shadow: 0 4px 5px black, inset 80px 0 100px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 5px black, inset 80px 0 100px rgba(0, 0, 0, 0.5);
}

.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 120vh;
  z-index: -1;
}

.background .part1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../../img/Flash.png") no-repeat;
  background-size: 100%;
}

.background .part2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../../img/Deadpool.png") no-repeat;
  background-size: 100%;
}

.background .part3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../../img/Superman.png") no-repeat;
  background-size: 100%;
}

.background .part4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../../img/Iron-Man.png") no-repeat;
  background-size: 100%;
}

.background .part5 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../../img/Ghost-Rider.png") no-repeat;
  background-size: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 39px;
  left: 28px;
  right: 28px;
  bottom: 39px;
  z-index: 1;
  min-height: 120vh;
  background: rgba(32, 33, 54, 0.9);
  border-radius: 3.5vw;
  overflow: hidden;
}

.container .book-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .book .left-page {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .book .right-page {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/*# sourceMappingURL=style.css.map */