* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  background: #000000;
  /* Track */
  /* Handle */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 20px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, right top, from(#f4f4f4), color-stop(15%, #424151), color-stop(50%, #291e31), color-stop(85%, #424151), to(#f4f4f4));
  background: linear-gradient(90deg, #f4f4f4 0%, #424151 15%, #291e31 50%, #424151 85%, #f4f4f4 100%);
  border-radius: 10px;
}

.book-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #555365;
  border-radius: 4%/50%;
  margin-top: 1.5%;
  padding: 0.5%;
  position: relative;
}

.book-navigation .first-page,
.book-navigation .before,
.book-navigation .next,
.book-navigation .last-page {
  margin-top: 0.8%;
  margin-right: 1.7vw;
  width: 2vw;
  height: 2vw;
  cursor: pointer;
}

.book-navigation .first-page svg,
.book-navigation .before svg,
.book-navigation .next svg,
.book-navigation .last-page svg {
  pointer-events: none;
  fill: #f4f4f4;
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

.book-navigation .first-page:hover svg,
.book-navigation .before:hover svg,
.book-navigation .next:hover svg,
.book-navigation .last-page:hover svg {
  fill: rgba(244, 244, 244, 0.5);
}

.book-navigation .first-page {
  margin-left: 1vw;
}

.book-navigation .first-page-icon {
  position: absolute;
  top: 0.7vw;
  left: 1.8vw;
  width: 2vw;
}

.book-navigation .before-icon {
  position: absolute;
  top: 0.7vw;
  width: 1.3vw;
}

.book-navigation .next-icon {
  position: absolute;
  top: 0.7vw;
  width: 1.3vw;
}

.book-navigation .last-page-icon {
  position: absolute;
  top: 0.7vw;
  width: 2vw;
}

.book-navigation .chapter-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 1vw 0 3vw;
  position: relative;
}

.book-navigation .chapter-selector select {
  width: 25vw;
  font-size: 1.2vw;
  background: #404050;
  overflow: none;
  border: none;
  border-radius: 4%/40%;
  padding: 2% 12% 2% 3%;
  color: #f4f4f4;
  cursor: pointer;
  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.book-navigation .chapter-selector .icon {
  position: absolute;
  top: 31%;
  right: 4%;
  pointer-events: none;
}

.book-navigation .chapter-selector .chapter-select-icon {
  position: absolute;
  top: 28%;
  right: 4%;
  width: 1.5vw;
}

.book {
  height: 130vh;
  width: 100%;
  margin: 1.5% 0 3% 0;
}

.book .left-page-container .left-page {
  float: right;
  background: #424151;
  height: 100%;
  width: 95%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-box-shadow: -4px 4px 5px black, inset -20px 0 90px rgba(0, 0, 0, 0.5);
          box-shadow: -4px 4px 5px black, inset -20px 0 90px rgba(0, 0, 0, 0.5);
}

.book .right-page-container .right-page {
  background: #424151;
  height: 100%;
  width: 95%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-box-shadow: 0 4px 5px black, inset 80px 0 100px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 5px black, inset 80px 0 100px rgba(0, 0, 0, 0.5);
}

.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: -1;
}

.background .part1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../../img/Flash.png") no-repeat;
  background-size: 100%;
}

.background .part2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../../img/Deadpool.png") no-repeat;
  background-size: 100%;
}

.background .part3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../../img/Superman.png") no-repeat;
  background-size: 100%;
}

.background .part4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../../img/Iron-Man.png") no-repeat;
  background-size: 100%;
}

.background .part5 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../../img/Ghost-Rider.png") no-repeat;
  background-size: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 39px;
  left: 10px;
  right: 10px;
  margin-bottom: 39px;
  z-index: 1;
  min-height: calc(100vh - 39px * 2);
  background: rgba(32, 33, 54, 0.9);
  border-radius: 3.5vw;
  overflow: hidden;
}

.container .book-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .book .left-page-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .book .right-page-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/*# sourceMappingURL=style.css.map */

/*button css*/
#myBtn {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ26_P3r2YKXyhvSwYurKiiPpi6JspuZUsJIQ&usqp=CAU");  
  background-position:center;
  background-repeat:no-repeat;
  display: none; /* Hidden by default */
  position: fixed; Fixed/sticky position 
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:none ; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 39px 50px; /* Some padding */
  border-radius: 20px; /* Rounded corners */
  font-size: 5rem; /*Increase font size*/
  border: 1px solid;
  box-shadow: 5px 10px red;
  
}

#myBtn:hover {
  /* background-color: gray; Add a dark-grey background on hover */
}
/* hOme Button- Style buttons */
.btn {
  background-color:rgba(230, 21, 21, 0.9);/* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  margin-top: 12px;
  border-radius: 10px; /* Rounded corners */
  width: 25%;
  text-align: center;
  border: 1px solid;
  box-shadow: 5px 2px rgb(238, 230, 230);
  
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: gray;
}

/* drop down menu categories */
.dropbtn {
  background-color:rgb(0, 255, 128);
  color: red;
  padding: 16px;
  font-size: 50px;
  border: none;
  padding
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}